<a href="https://colab.research.google.com/github/namek97/Code_accumulative/blob/main/Code_acd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#installing TA-LIB
!wget http://prdownloads.sourceforge.net/ta-lib/ta-lib-0.4.0-src.tar.gz 
!tar xvzf ta-lib-0.4.0-src.tar.gz
import os
os.chdir('ta-lib') # Can't use !cd in co-lab
!./configure --prefix=/usr
!make
!make install
os.chdir('../')
!pip install TA-Lib
import talib

In [24]:
#installing yfinance
!pip install yfinance 
import yfinance as yf
import pandas as pd
pd.set_option("display.max_rows",None)
pd.set_option("display.max_columns",None)
pd.set_option("display.width",None)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.9/dist-packages (0.2.12)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.9/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.1)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.28.2)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.9/dist-packages (from yfinance) (39.0.2)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.9/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (1.26.14)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (3.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [25]:
symbol="TATAMOTORS.NS"

In [40]:
df=yf.Ticker(symbol).history(period="2y",interval="1d")
df.index = df.index.tz_localize(None)  # removing the timestamp from index which is irritating
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-03-03,422.600006,430.500000,421.950012,428.000000,8027522,0.0,0.0
2023-03-06,430.950012,441.450012,430.000000,440.100006,11307064,0.0,0.0
2023-03-08,439.000000,441.250000,436.100006,439.299988,7850052,0.0,0.0
2023-03-09,439.100006,442.049988,431.299988,432.200012,5696737,0.0,0.0
2023-03-10,433.000000,437.799988,430.799988,435.850006,10417015,0.0,0.0

In [ ]:
df["MA_10"]=talib.MA(df["Close"],timeperiod=10)
df["MA_50"]=talib.MA(df["Close"],timeperiod=50)
df["RSI_14"]=talib.RSI(df["Close"],timeperiod=14)
df["ATR_14"]=talib.ATR(df["High"],df["Low"],df["Close"],timeperiod=14)

df

In [ ]:
trade={"Symbol":None,"Buy/Sell":None,"Entry_price":None,"Entry_date":None,"Exit":None}

In [60]:


position= None

for i in df.index[49:]:
  
  if (df["MA_10"][i] > df["MA_50"][i]) and (df["RSI_14"][i]>70) and position!="Buy":
    if not trade["symbol"]:
    if position!=None:
      trade["Symbol"]=symbol
      trade["Buy/Sell"]="Buy"
      trade["Entry_price"]=df["Close"][i]
      trade["Entry_date"]=i
    print(i)
    print("Buy")
    position= "Buy"
    
  if (df["MA_10"][i] < df["MA_50"][i]) and (df["RSI_14"][i]<70) and position!="Sell":
    if position!=None:
      trade["Symbol"]=symbol
      trade["Buy/Sell"]="Sell"
      trade["Entry_price"]=df["Close"][i]
      trade["Entry_date"]=i
    print(i)
    print("Sell")
    position= "Sell"

IndentationError: ignored